body {
  margin: 0;
  padding: 0;
  background-color: #eee;
}

div {
  position: relative;
  width: 650px;
  background-color: #fff;
  justify-content: center;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 3px;
  margin: 40px auto 20px;
  padding: 32px;
  height: 400px;
}

#save-btn {
  display: flex;
  position: absolute;
  left: 50px;
  justify-content: center;
  bottom: 60px;
  background-color: #4d90fe;
  border: 1px solid #3079ed;
  color: #fff;
  height: 27px;
  min-width: 54px;
  padding: 0 8px;
  border-radius: 2px;
  font-size: 11px;
  font-weight: bold;
  line-height: 27px;
}

#save-btn:hover {
  background-color: #357ae8;
}
