body {
  margin: 0px;
  padding: 0px;
  width: 300px;
  height: 400px;
  background-color: #243b55;
}

.header {
  display: flex;
  justify-content: center;
  height: 150px;
  background-color: darkcyan;
  margin: -8px;
  padding: 5px;
}

.img-size {
  width: 150px;
}

#add-task-btn {
  border: 0px solid red;
  border-radius: 2px;
}

#time {
  text-align: center;
  font-size: 50px;
  margin: 10px;
  font-weight: 800px;
  color: firebrick;
}

#btn-container {
  display: flex;
  justify-content: space-evenly;
}
